header{
    margin: 40px
}
body{
    background-color: #F3F5FC;
    position: relative;
    width: 1440px;
    height: 1024px;
}

.cuadro-texto{
    font-size: 25px;
    margin-left: 35px;
    border-radius: 15px;
    border-style: hidden;
    
}

.cuadro-texto:focus{
    outline: none;
    font-size: 25px;
    margin-left: 35px;
    border-radius: 15px;
    border-style: hidden;
}

.botones{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 44px;
    position: absolute;
    left: 100px;
    top: 560px;
    background: #F3F5FC;
    margin-left: 50px;
}

.botones button {
    width: 180px;
    height: 60px;
    border-radius: 24px;
    font-family: 'Lucida Sans';
}

.boton-encriptar{
    background: #0A3871;
    color:#FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.boton-encriptar:hover{
    transform: scale(1.1);
}

.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.boton-desencriptar:hover{
    transform:scale(1.1);
}
.asterisco{
    margin-left: 35px;
    font-weight: bold;
    color: #757575;
}

.cuadro-resultado{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 401px;
    height: 630px;
    left: 1000px;
    top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px;
    border-radius: 32px;
    
}
.cuadro-resultado img{
    position: absolute;
    width: 336px;
    height: 304px;
    top:32px;
    left: 32px;
}
.texto-rectangulo{
    display: flex;
    flex-direction: column;
    padding: 0 px;
    gap: 16px;
    width: 336px;
    height: 304px;
    
}

.texto-rectangulo h2{
    position: absolute;
    top: 400px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 48px;

}

.texto-rectangulo p{
    position: absolute;
    top: 450px;
    font-size: 22px;
    text-align: center;
}


.texto-rectangulo span{
    position: absolute;
    font-size: 24px;
    text-align:left;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #495057;
    padding: 20px;
}

#botonCopiar{
    position: absolute;
    background: #0A3871;
    border: 1px solid #FFFFFF;
    width: 180px;
    height: 60px;
    border-radius: 24px;
    font-family: 'Lucida Sans';
    color:#FFFFFF;
    top:550px;
    left: 110px;
    cursor: pointer;
}

#botonCopiar:hover{
    transform:scale(1.1);
}

.footer{
    color:#757575;
    position:relative;
    font-size: 1.1em;
    font-family:"Lucida Sans" ;
}

.footertexto{
    position:absolute;
    top: 100px;
    left: 100px;
}

.footeraño{
    position:absolute;
    top: 130px;
    left: 115px;
}


